.item__contact {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.text__contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    color: #212121;
}

.btn__delete__contact {
    outline: none;
    background: rgb(147, 132, 110);;
    width: 80px;
    border: 0;
    border-radius: 4px;
    padding: 6px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    text-transform: uppercase;
}

.container__contact {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px;
    padding: 16px 6px;
    border: 2px solid #212121;
    border-radius: 4px;
}

.TextContactList{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 12px;
}

@media (min-width: 520px) {
    .container__contact {
        margin-left: 40px;
        margin-right: 40px;
    }
}