.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

