.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: rgb(147, 132, 110);
}

.navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}


@media (max-width: 678px) {
    .headerContainer {
        padding: 30px 16px;
    }
}

