.TextHomePage {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #2c2b2b;
}

.ContainerTextHomePage{
    margin: auto;
    margin-top: 170px;
}

@media (min-width: 678px) {
    .TextHomePage {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        color: #2c2b2b;
    }
}